body {
    background-color: #f7f7f7;
    color: #575655;
  }

.nav-link{
    color: white;
}

 h1{
     text-align: center;
     color: #575655;
 }
  
.ffheader{
    margin: auto;
    margin-bottom: 5%;
    width: 75%;
}
  
.calc-box{
    margin: auto;
    margin-top: 2%;
    width: 80%;
    /* height: 500px; */
}

.calcbtn{
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;

    width: 100%;
    width: 400px;
}

.calcbtn::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.calcbtn:hover::before{
    height: 380%;
}

.fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }