{% extends 'base.html' %}

{% block content %}

<form action='/' method='POST'>
    
    House Price
    <input type='text' name='hprice'><br>
    Repair Budget
    <input type='text' name='rbudget'><br/>
    After Repair Value
    <input type='text' name='arv'><br>
   
    <button type='submit' value='submit'>CALCULATE</buttton>
    </button>
    <div>
        {% if totalCost %}
        <p>Total cost of project: ${{totalCost}}</p>
        {% endif %}
    </div>
    <div>
        {% if ltcAmount %}
        <p> Funding Amount at 70%: ${{ltcAmount}}</p>
        {% endif %}
    </div>
    <div>
        {% if loanDownPayment %}
        <p> Down Payment at 30%: ${{loanDownPayment}}</p>
        {% endif %}
    </div>
    <div>
        {% if gProfit %}
        <p>Gross Profit: ${{ gProfit }}</p>
        {% endif %}
    </div>
    <div>
        {% if roi %}
        <p>Potential Gross ROI {{ roi }}%</p>
        {% endif %}
    </div>
    <div>
        {% if RefiAmt %}
        <p>Potential Cash-out Refinance amount of ${{ RefiAmt }}</p>
        {% endif %}
    </div>
</form>


  


{% endblock %}
