{% extends 'base.html' %}

{% block content %}

<div class="container">
    

</div>

<form action='/' method='POST'>
    
    House Price
    <input type='text' name='hprice'><br>
    Repair Budget
    <input type='text' name='rbudget'><br/>
    After Repair Value
    <input type='text' name='arv'><br>
    Rental Income
    <input type='text' name='totalRentInc'><br>
    Total Expenses
    <input type='text' name='totalExpenses'><br/>
   
    <button type='submit button' value='submit' >CALCULATE
    </button>
    
    <div>
        {% if totalCost %}
        <p>Total cost of project: ${{totalCost}}</p>
        {% endif %}
    </div>
    <div>
        {% if ltcAmount %}
        <p> Funding Amount at 70%: ${{ltcAmount}}</p>
        {% endif %}
    </div>
    <div>
        {% if loanDownPayment %}
        <p> Down Payment at 30%: ${{loanDownPayment}}</p>
        {% endif %}
    </div>
    <div>
        {% if gProfit %}
        <p>Gross Profit: ${{ gProfit }}</p>
        {% endif %}
    </div>
    <div>
        {% if roi %}
        <p>Potential Gross ROI {{ roi }}%</p>
        {% endif %}
    </div>
    <div>
        {% if RefiAmt %}
        <p>Potential Cash-out Refinance amount of ${{ RefiAmt }}</p>
        {% endif %}
    </div>
<!-- RENTAL SECTION -->
    <div>
        {% if CashFlow %}
        <p>Potential Cash Flow ${{ CashFlow }}</p>
        {% endif %}
    </div>
    <div>
        {% if AnnualInc %}
        <p>Annual Income ${{ AnnualInc }}</p>
        {% endif %}
    </div>
    <div>
        {% if cROI %}
        <p>Cash on Cash ROI {{ cROI }}%</p>
        {% endif %}
    </div>
</form>


  


{% endblock %}
